* {
  margin: 0;
  padding: 0;
}

.slider {
  display: flex;
  flex-direction: column;
  background: gray;
  width: 100%;
}

.slider__bottom {
  display: flex;
}

.slider__container {
  margin: 0 auto;
  width: calc(100vw - 40px);
  max-width: 1000px;
  overflow: hidden;
}

.slider__slides {
  display: flex;
  transition: all 0.5s ease;
}

.slider__slide {
  flex-shrink: 0;
  width: calc(100vw - 40px);
  max-width: 1000px;
}

.slide__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: white;
  border: 2px solid blue;
}

.slide__content img {
  display: block;
  max-width: 100%;
  max-height: 50vh;
}

.slider__text-container {
  flex-grow: 1;
}

.slider__text {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.slide-text {
  flex-shrink: 0;
  width: 100%;
}

.slider__navigation {
  display: flex;
}

.slider__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: red;
}

.slider__dot {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  background: white;
  border-radius: 50%;
}

.slider__link:hover .slider__dot{
  border-color: blue;
  background: blue;
}

.slider__input {
  display: none;
}

#slide-1:checked ~ .slider__bottom .slider__navigation .slider__link[for="slide-1"] .slider__dot,
#slide-2:checked ~ .slider__bottom .slider__navigation .slider__link[for="slide-2"] .slider__dot,
#slide-3:checked ~ .slider__bottom .slider__navigation .slider__link[for="slide-3"] .slider__dot,
#slide-4:checked ~ .slider__bottom .slider__navigation .slider__link[for="slide-4"] .slider__dot,
#slide-5:checked ~ .slider__bottom .slider__navigation .slider__link[for="slide-5"] .slider__dot {
  background-color: green;
}

#slide-1:checked ~ .slider__top .slider__slides,
#slide-1:checked ~ .slider__bottom .slider__text {
  margin-left: 0;
}

#slide-2:checked ~ .slider__top .slider__slides,
#slide-2:checked ~ .slider__bottom .slider__text {
  margin-left: -100%;
}

#slide-3:checked ~ .slider__top .slider__slides,
#slide-3:checked ~ .slider__bottom .slider__text {
  margin-left: -200%;
}

#slide-4:checked ~ .slider__top .slider__slides,
#slide-4:checked ~ .slider__bottom .slider__text {
  margin-left: -300%;
}

#slide-5:checked ~ .slider__top .slider__slides,
#slide-5:checked ~ .slider__bottom .slider__text {
  margin-left: -400%;
}